:root{
    --my-bg-light: #F8F8F8;
    --text-body: #6B727F;
    --accent: #25789B;
}

*{
    color: var(--text-body);
}
body{
    /* background-color: var(--my-bg-light); */
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* utilities start*/
.my-bg-light{
    background-color: var(--my-bg-light) !important;
}

.bg-accent{
    background-color: var(--accent) !important;
}

.my-text-body{
    color: var(--text-body) !important;
}
/* utilities end */

/* main  */

h1{
    font-family: monospace;
    font-weight: 300;
}

#registrationForm{
    box-shadow: 0px 0px 10px 0px var(--accent);
    border: 1px solid var(--accent);
    /* animation: spiral 0.8s linear none 2 !important; */
    background-color: rgba(255, 255, 255, 0.342);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(20px) !important;
    max-width: 900px;
    align-self: center;
    justify-self: center;
    transition: all 0.2s linear;
    scale: 1.01;
    box-shadow: 5px 5px 10px 10px #0715257c;
}
#registrationForm:hover{
    scale: 1;
    box-shadow: none;
}

input.form-control::placeholder, textarea.form-control::placeholder{
    color: white;
}
#userCourse{
    color: white;
}
option:not(:first-of-type) {
  color: black;
  background-color: rgba(0, 0, 0, 0.048);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
}

input.form-control, textarea.form-control, #userCourse, .gender-box{
    background-color: rgba(0, 0, 0, 0.39);
    border: 2px solid var(--accent);
    box-shadow: 3px 3px 10px 5px #0715257c;
    scale: 1.01;
    transition: all 0.2s linear;
    color: white;
}

input.form-control:hover, textarea.form-control:hover, #userCourse:hover{
    box-shadow: none;
    scale: 1;
}

input.form-control:focus, textarea.form-control:focus, #userCourse:focus{
    background-color: #25789b8e;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.gender-box{
    background-color: rgba(0, 0, 0, 0.39);
    border: 2px solid var(--accent) !important;
}
.gender-box:hover{
    scale: 1;
    box-shadow: none;
}

@keyframes spiral{
    /* 0%{
        box-shadow: 3px 0px 10px 0px var(--accent);
    } 25%{
        box-shadow: 0px 3px 10px 0px var(--accent);
    } 50%{
        box-shadow: -3px 0px 10px 0px var(--accent);
    } 75% {
        box-shadow: 0px -3px 10px 0px var(--accent);
    } 100%{
        box-shadow: 3px 0px 10px 0px var(--accent);
    } */

    0%{
        box-shadow: 0px 0px 5px 3px #071525;
    } 50% {
        box-shadow: 0px 0px 0px 0px #071525;
    } 100%{
        box-shadow: 0px 0px 5px 3px #071525;
    }
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus{
    box-shadow: 0px 0px 10px 0px var(--accent);
    border: 2px solid var(--accent);
}

.radio{
    color: #fff;
}

#register{
    background-color: rgba(0, 0, 0, 0.39);
    border: 2px solid var(--accent);
    box-shadow: 2px 2px 5px 2px #0715257c;
    scale: 1.01;
    transition: all 0.2s linear;
}
#register:hover{
    box-shadow: none;
    scale: 1;
}

/* main end */

/* footer start */

footer{
    margin-top: 350px;
    margin-bottom: 50px;
}

/* footer end */