@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Glass effect background */
/* rgba(255,255,255,0.6) + backdrop-filter: blur(15px); */

:root{
    /* using this to avoid bootstrap conflicts */
    --this-bg-light: #fff;
    --this-bg-dark: rgb(26, 26, 26);
    --accent: #007AFF;
    --accent-light: #91b7e0;
    --this-text-primary-light: #000000;
    --this-text-primary-dark: #FFFFFF;
    --this-shadow: 0 4px 20px rgba(0,0,0,0.1);
    --window-bg-light: rgb(255, 255, 255);;
}

*{
    font-family: "Inter", sans-serif;
}

body{
    color: var(--this-text-primary-light);
    transition: all 0.2s linear;
}

body.dark{
    color: var(--this-text-primary-dark);
    transition: all 0.2s linear;
}

body{
    /* background-color: var(--this-bg-light); */
    /* background-image: url(../img/Mountain_andy_betts.png); */
    /* background-image: url(../img/5120x2880.png); */
    background-color: rgb(230, 230, 230);
    background-position: center center;
    background-size: cover;
    background-repeat: no=repeat;
    background-attachment: fixed;
}

body.dark{
    /* background-image: url(../img/5120x2880.png); */
    background-color: rgb(90, 1, 90);
}


/* header start*/

header{
    position: relative;
    z-index: 999;
}

.navbar{
    background-color: #ffffff3a !important;
    -webkit-backdrop-filter: blur(15px) !important;
    backdrop-filter: blur(15px) !important;
}

body.dark .navbar{
    background-color: #00000091 !important;
}

.settings-menu{
    margin-left: -70px;
    margin-top: 16px;
}

.theme-toggle:hover{
    background-color: var(--accent-light);
}

body.dark .theme-toggle:hover{
    background-color: var(--accent);
}

/* header end */



/* main start */

.red{
    background-color: #FF6058;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.yellow{
    background-color: #FFBC34;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.green{
    background-color: #2DC843;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.title-bar{
    padding-bottom: 14px;
    display: flex;
    gap: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.185); */
    margin-bottom: 10px;
}

.code-symbol{
    font-size: 12rem;
    color: var(--accent-light);
}

/* hero section end */

/* project section start */

body.dark .projects-section .project-card.window-light p{
    color: white !important;
}

/* project section end */

/* main end */



/* footer start */

.flicker{
    animation: flick 1s linear infinite;
}

@keyframes flick {
     0%, 50%, 100% {
    opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

/* footer end */