/* backgrounds */
.backdrop {
    background-color: var(--this-bg-light);
    opacity: 0.8;
}
body.dark .backdrop{
    background-color: var(--this-bg-dark);
}

/* hover effects */


.hover:hover{
    scale: 1.05;
    cursor: pointer;
}
.hover:active{
    scale: 0.95;
}

.hover-2:hover{
    cursor: pointer;
    opacity: 0.5;
}
.hover-2:active{
    opacity: 1;
}


/* transition */

.transition{
    transition: all 0.1s linear;
}





/* hiding showing effects */

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.visible{
    visibility: visible;
    opacity: 1;
}